.side-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 72px;
    background-color: #212121;
    z-index: 101;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    .side-nav-hamburger{
        padding: 17px;
        margin-bottom: 5px;
        width: 100%;
        @include flex-center;
        
        & img{
            width: 1.5rem;
        }
    }
    
    .side-nav-link {
        @include flex-column;
        gap: 6px;
        padding: 17px 0;
        font-size: 1.5rem;
        color: white;
        width: 100%;

        & p{
            font-size: 0.63rem;
        }

        &:hover{
            background-color: #323232;
        }
    }
}