.video-preview{
    position: relative;
    background-color: rgb(93, 93, 93);
    width: 18rem;
    height:10rem;
    justify-self: center;

    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;

    margin-bottom: 7.5rem;
    cursor: pointer;

    @include for-phone{
        width: 22.5rem;
        height:12.5rem;
    
    }
    @include for-large-phone{
        width: 21.5rem;
        height:12rem;

    }
    @include for-small-tablet{
        width:16rem;
        height:9.6rem;

    }

    @include for-tablet{
        width:19rem;
        height:9.6rem;

    }
    @include for-large-tablet{
        width: 21.5rem;
        height:12rem;

    }
    @include for-desktop{
        width: 20rem;
        height:11.5rem;

    }
    @include for-large-desktop{
        width: 21.5rem;
        height:12rem;

    }

    .video-details{
        position: absolute;
        @include flex-column;
        align-items: unset;
        top: calc(100% + 15px);
        font-family: Roboto regular, sans-serif;

        & h3{
            margin-bottom: 7px; 
            font-size: 1.05rem;
            color: white; 
        }

        & p{
            font-size: 0.95rem;
            color: #AAAA;
        }
   }
}