* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Bree serif, serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

body {
    background-color: #181818;
    font-family: Roboto light, sans-serif;
}